.individual-qn{
	border-style: solid;
	border-color: lightgrey;
	border-width: thin;
	height:130px;
}

.question-wrapper{
	height:auto;
	overflow-wrap: break-word;
}

#question-being-answered{
	overflow-wrap:break-word;
	height:auto;
}

#projection-title{
	font-family: 'colaborate-regularregular';
}